<h1><%= title %></h1>

<a href="/celebrities/create">Create New Celebrity</a>
<a href="/celebrities/celebrities">List of Celebrities</a>
<a href="/movies/movies">List of Movies</a>
<a href="/movies/create">Create a New Movie</a>