<h2>New Movie</h2>

<form action="/movies/new-movie" method="post">
        <label class="form-label">Title
             <input type="text" name="name"  placeholder="Name" class="form-control">
        </label>        
        <label class="form-label">Genre
             <input type="text" name="occupation"  placeholder="Name" class="form-control">
        </label>   
        <label class="form-label">Plot
             <input type="text" name="catchPhrase"  placeholder="Name" class="form-control">
        </label>  
        <label class="form-label">Cast
            <input type="text" name="catchPhrase"  placeholder="Name" class="form-control">
       </label>  
        <button>Submit</button>  
</form>